body{
    overflow: auto;
    /*overflow-x: hidden;*/
    margin: 0;
    padding: 0;
    background:#fff url("../image/cat.png") left top;
}

div.topbox{
    position: relative;
    width: 100%;
    height: 330px;
    height: 20.625rem;
    background-image: url(../image/ccc3.JPG);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    /*z-index: -1;*/
}

div.icons{
    position: absolute;
    left: 0;
    top: 10px;
    /*width: 100%;*/
    margin: 15px 60px;
}
img.iconImage{
    position: absolute;
    left: 5px;
    top: 0;
    width: 48px;
    height: 48px;
    margin: 15px 20px;

}
div.icons a.aitems{
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0px 2px 12px #141414;
    letter-spacing: 1px;
    color: #fff;
}

div.hitokoto{
    position: absolute;
    text-align:right;
    right: 1%;
    /*float: right;*/
    text-shadow: 0px 2px 12px #141414;
    letter-spacing: 1px;
}

div.constellationSelect{
    position: absolute;
    bottom: 10px;

}
/*选择器*/
select.xingzuoSele{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #5a54ff;
}
button.subXing{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #5a54ff;
    background-color: #0d9b50;
}
