{% extends "layout.html" %}

{% block body %}

<div class="topbox" id="topbox">
    <img class="iconImage" src="{{ url_for('static', filename='image/icon.png') }}">
    <div class="icons">
        <a class="aitems" href="/"> 首页 </a>
        <a class="aitems" href="/male"> 追**星座男生 </a>
        <a class="aitems" href="/female"> 追**星座女生 </a>
        <a class="aitems" href="/match"> 星座配对 </a>
        <a class="aitems" href="/about"> 关于本站 </a>
    </div>
    <div class="hitokoto">
        <p>{{hitokoto.hitokoto}}</p>
        <p>—— [{{hitokoto.from}}]</p>
    </div>

    <div class="constellationSelect">
        {% if flags=="index" %}
        <h2>星座性格查询 </h2>
        {% elif flags=="male" %}
        <h2> 追xx座男生 </h2>
        {% elif flags=="female" %}
        <h2> 追xx座女生 </h2>
        {% elif flags=="match" %}
        <h2> 星座匹配 </h2>
        {% elif flags=="about" %}
        <h2> 关于本站 </h2>
        {% endif %}
        {% if flags!="about" %}
        <select class="xingzuoSele" id="xingzuo">
            <option value="baiyang">白羊</option>
            <option value="jinniu">金牛</option>
            <option value="shuangzi">双子</option>
            <option value="juxie">巨蟹</option>
            <option value="shizi">狮子</option>
            <option value="chunv">处女</option>
            <option value="tiancheng">天秤</option>
            <option value="tianxie">天蝎</option>
            <option value="sheshou">射手</option>
            <option value="mojie">摩羯</option>
            <option value="shuiping">水瓶</option>
            <option value="shuangyu">双鱼</option>
        </select>
        <button class="subXing" id="subButton" data={{ flags }} onclick="GetTexts(this)">查询</button>

        {% endif %}
    </div>
</div>

<div class="main">
    <div class="conts" id="conts">

        {% if flags=="about" %}
        <h3>关于</h3>
        <p>鉴于最近某人一直向我灌输星座知识，为了巩固新学的 Flask 框架，便开发此站点。（貌似并没有因果关系...）</p>
        <h4>功能列表</h4>
        <ul>
            <li>星座性格查询</li>
            <li>追xx座男生/女生</li>
            <li>星座最佳匹配</li>
        </ul>

        <h4>数据来源</h4>
        <a class="noi" href="https://www.zuixingzuo.net/"><b>星座</b></a><br>
        <i>所有分析数据皆来源于此，此网站对分析正确性不做保证，如有误析请谅解。</i>
        <br>
        <h4>项目开源地址</h4>
        <a class="noi" href="https://github.com/MyBules/xingzuoSearch">GitHub/Mybules</a>
        <br>
        <h4>Master & Email</h4>
        <p>Master: <a class="noi" href="https://mybules.com"><b>四十九C-137</b></a><br></p>
        <p>Email: jxxclj@gmail.com</p>
        <h4>一些声明</h4>
        <b>此站点的数据 & 图片皆来源于网络，如您为原作者，侵权请邮件联系删除。</b>
        <br>
        {% else %}
        <div class="imgdiv">
            <img src="{{ url_for('static', filename='image/'+ flags+'.png') }}">
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}